
<div class="contact-us">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="contact-us__heading">Contact Us</h2>
        <div class="contact-us__form-env">
          <form action="#" method="post">
            <div class="form-env">
              <label class="form-env__label">
                <input type="text" name="name" placeholder="Name" required="required" class="form-env__input"/>
                <input type="tel" name="phone" placeholder="Phone number" required="required" class="form-env__input phone-mask"/>
                <input type="email" name="email" placeholder="Email address" required="required" class="form-env__input"/>
              </label>
              <label class="form-env__label">
                <textarea name="message" placeholder="Message" class="form-env__textarea"></textarea>
              </label>
            </div>
            <input type="submit" value="Send" class="contact-us__btn-send"/>
          </form>
        </div>
        <div class="contact-us__social">
          <ul class="social">
            <li class="social__item"><a href="https://www.facebook.com" class="social__link"><i class="fa fa-facebook"></i></a></li>
            <li class="social__item"><a href="https://www.instagram.com" class="social__link"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>