
<div class="expedition">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="expedition__heading">The Expedition</h2>
        <p class="expedition__subinfo">In May 2017 Esther Roeling and Paul Niel completed the first succesful coasteering expedition of Hong Kong Island. In 6 days they climbed, swam, scrambled and hiked the entire coastline, took 51 water samples and mapped 163 trash pollution spots</p><a class="expedition__btn">Read More »</a>
        <div class="expedition__video">
          <div id="playerVideo"></div>
        </div>
      </div>
    </div>
  </div>
</div>