
<div class="about-city">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12"><img src="img/about_sity.jpg" alt="about_city" class="about-city__img"/></div>
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="about-wrap">
          <h2 class="about-wrap__head">HONG KONG ISLAND TRASH SITES</h2>
          <p class="about-wrap__text">It is a long established fact that a reader will be distracted by the readeble content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using ‘Content here, content here’, making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for ‘lorem ipsum’ will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p><a href="" class="about-wrap__link">Read More »</a>
        </div>
      </div>
    </div>
  </div>
</div>