
<div class="partners">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="partners__heading">Partners</h2>
      </div>
      <div class="col-xs-12">
        <ul class="partners-list">
          <li class="partners-list__item"><a href="#" class="partners-list__link"><img src="img/partners1.png" alt="explorers" class="partners-list__img"/></a></li>
          <li class="partners-list__item"><a href="#" class="partners-list__link"><img src="img/partners2.png" alt="bremont" class="partners-list__img"/></a></li>
          <li class="partners-list__item"><a href="#" class="partners-list__link"><img src="img/partners3.png" alt="ocean-recovery" class="partners-list__img"/></a></li>
          <li class="partners-list__item"><a href="#" class="partners-list__link"><img src="img/partners4.png" alt="open-hongkong" class="partners-list__img"/></a></li>
          <li class="partners-list__item"><a href="#" class="partners-list__link"><img src="img/partners5.png" alt="patogonia" class="partners-list__img"/></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>