
<div id="home" class="slider-main">
  <div class="container"><a href="#" class="control left"><i class="fa fa-angle-left"></i></a><a href="#" class="control right"><i class="fa fa-angle-right"></i></a>
    <ul class="slider-wrap">
      <li class="slider-wrap__items">Results of the first ever water quality and population recording of Hong Kong Islands 80 kilometer coastline. The data was recorded during the 2017 Round the Island Expedition.</li>
      <li class="slider-wrap__items">First ever water quality and population recording of Hong Kong Islands 80 kilometer coastline. The data was recorded during the 2017 Round the Island Expedition.</li>
      <li class="slider-wrap__items">Of the first ever water quality and population recording of Hong Kong Islands 80 kilometer coastline. The data was recorded during the 2017 Round the Island Expedition.</li>
    </ul>
  </div>
</div>